LoadingOverlay{
    layer: overlay;
    background: #1e1e2e;
    align: center middle;
    height: 100%;
    width: 100%;
    dock: top;                 
    overflow: hidden;          
    scrollbar-gutter: stable;    
    border: round #45475a;
    margin: 2 0;
}

.loading-message {
    color: white;
    margin: 1;
    text-style: bold;
}